.item {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    align-items: start;
}

.rating-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFB10A;
    padding: 5px 10px;
    border-radius: 100px;
    z-index: 1;
    align-items: center;
}

.rating-container .rating {
    display: flex;
    gap: 5px;
}

.rating-container .rating span {
    color: white;
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h3 {
    text-align: start;
    color: white;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.details {
    color: #555;
}

.details p{
    margin: 0;
    padding: 0;
    color: lightblue;
}
