
.main {
    min-height: 789px;
}

.main-box {
    max-width: 1300px;
    padding: 60px 0 120px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.sectionGrid {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 50px;
}

.sectionGrid h2 {
    font-family: "Montserrat ExtraBold", serif;
    font-size: 40px;
    color: white;
    margin: 0;
}

.grid {
    display: grid;
    gap: 50px;
}

/* ######### header ######### */

.header {
    background-color: #FF424F;
}

.header-box {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px;
}

.search {
    display: flex;
    align-items: center;
    border: #ffffff80 1px solid;
    border-radius: 5px;
}

.search input {
    min-width: 500px;
    background-color: #00000000;
    color: white;
    margin-bottom: -2px;
    font-size: 15px;
    padding: 9px 13px;
    font-family: Lato, serif;
    border-width: 0;
    outline: none;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.search-button {
    height: 40px;
    width: 40px;
    color: #ffffff90;
    background-color: transparent;
    border: 0;
    padding: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button svg {
    width: 100%;
    height: 100%;
}

.search-button:hover {
    background-color: #fff;
    color: #333;
}

.search-button:hover {
    background-color: #fff;
    color: #333;
}

.login-btn {
    background-color: #fff;
    color: #FF424F;
    font-size: 15px;
    font-family: "Montserrat SemiBold", serif;
    padding: 14px 20px;
    border-width: 0;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #222B31;
    color: #fff;
}


/* ########### footer ############# */

.footer {
    background-color: #191C1F;
}

.footer-txt {
    color: white;
}

.footer-box {
    display: flex;
    max-width: 1300px;
    justify-content: center;
    margin: 0 auto;
    padding:  10px 20px;
}
